location                    = "westeurope"
application_name            = "entropy-data-prod"
container_image             = "entropydata/entropy-data:latest" #  entropydata/entropy-data-cr:latest for Community Edition

container_cpu               = 2
container_memory            = "4Gi"

# Optional registry auth for private registries only:
# container_registry_server   = "index.docker.io"
# container_registry_username = "CHANGE_ME"
# container_registry_password = "CHANGE_ME"

postgres_sku                = "GP_Standard_D2s_v3"
postgres_storage_gb         = 128
postgres_storage_tier       = "P15"

smtp_password               = "CHANGE_ME"

application_host_web                            = "https://entropy-data.example.com"
mail_host                                       = "smtp.example.com"
mail_port                                       = "587"
mail_username                                   = "smtp-user"
mail_properties_mail_smtp_auth                  = "true"
mail_properties_mail_smtp_starttls_enable       = "true"
application_mail_from                           = "support@example.com"

# Optional Azure SSO (Enterprise Edition)
# sso_azure_enabled        = true
# sso_azure_issuer_uri     = "https://login.microsoftonline.com/<tenant-id>/v2.0"
# sso_azure_client_id      = "<client-id>"
# sso_azure_client_secret  = "<client-secret>"
# sso_azure_hosts          = "entropy-data.example.com"

additional_env_vars = {
  # Optional examples
#  APPLICATION_SUPERADMINS                      = "admin1@example.com,admin2@example.com"
}
